* {
	box-sizing: border-box;
}

body {
	font-family: 'Overlock SC', Arial, Helvetica, sans-serif;
	background-color: #CCDDDD;
	background-image: url("/images/white.jpeg");
	background-size: cover;
	counter-reset: section;
}

.centered {
  position: fixed;
  top: 10%;
  left: 20%;
  margin-top: -50px;
  margin-left: -100px;
}

.containerLog{
  text-align:center;
}

.containerLog form span:before {
  counter-increment: section;
  content:counter(section);
  border:2px solid #4c2639;
  width:47px;
  height:46.5px;
  color:#00FFFF;
  display:inline-block;
  border-radius:40%;
  line-height:1.6em;
  font-size:1.5em;
  position:relative;
  left:-24.5px;
  top:-10px;
  background:#2F1E27;
}

form{
  margin-top:25px;
  display:inline-block;
}

input {
  border:none;
  outline:none;
  float: right;
  height:34px;
  vertical-align:middle;
  position:relative;
  bottom:14px;
  left:50px;
  border-radius:22px;
  width:220px;
  box-sizing:border-box;
  padding:0 18px; 
}

label {
    display: inline-block;
    clear: left;
    width: 250px;
    text-indent: -2em;
}

input[type="radio"] {
  margin-top: 1px;
  margin-left: 20px;
  vertical-align: right;
  display:inline-block;
}

.dropbtn {
	background-color: white;
	border: none;
	color: black;
	padding: 16px 32px;
	text-align: center;
	font-size: 30px;
	margin: 4px 2px;
	transition: 0.3s;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
}

.pageTit {
  float: left;
  width: 33.33%;
  color: dark blue;
  font-size: 21px;
  text-align:center;
}

.pageTit1 {
  float: left;
  width: 33.33%;
  font-size: 21px;
  text-align:center;
  color: red; 
  border-style: inset; 
  font-weight: bold; 
  width:33.33%;
  height: 100px;
  line-height: 100px;
  font-size: 50px;
  background: #000
}

/* Clear floats after the columns */
.pageTitle:after {
  content: "";
  display: table;
  clear: both;
  width: 10px;
  height: 10px;
  line-height: 10px;
  border-radius: 50%;
}

.patientList {
	position: relative;
	display: inline-block;
	border:1px solid black;
}

button {
	font-family: 'Overlock SC', Arial, Helvetica, sans-serif;
	background: rgb(226, 226, 195);
	border-radius: 6px;
}

button:hover {
	text-shadow: #fff 0px 1px 1px;
	font-weight: bold;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: rgb(230, 230, 218);
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px white;
	z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	font-size: 0.5em;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: rgb(221, 244, 250);
	opacity: 1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
}

/* Style the header */
header {
	background-size: cover;
	padding: 10px;
	text-align: center;
	font-size: 2em;
	margin-right: 50px;
	margin-left: 50px;
	color: white;
}

.borderexample {
	border-style: solid;
	border-color: #287EC7;
	padding: 2em;
}

button {
	border-radius: 12px;
	text-align: center;
	font-size: 2em;
	margin: 4px 2px;
	cursor: pointer;
}

strong {
	color: red;
}

h2 {
	font-size: 2em;
}

p,
li {
	font-size: 1.5em;
}

table {
	text-align: center;
	font-size: 2em;
}

td a {
    display:block;
    width:100%;
}

/* Create two columns/boxes that floats next to each other */
nav {
	float: left;
	width: 30%;
	padding: 20px;
	margin: auto;
}

/* Style the list inside the menu */
nav ul {
	list-style-type: none;
	padding: 0;
}

article {
	float: left;
	padding: 50px;
	width: 70%;
}

section {
	margin-left: auto;
    margin-right: auto;
	display: block;
	border:2px solid black;
	width: 80%;
	padding:10px; 
	background: white;
}


/* Clear floats after the columns */
section:after {
	content: "";
	display: table;
	clear: both;
}

/* Style the footer */
.demog {
	padding: 10px;
	text-align: center;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {

	nav,
	article {
		width: 100%;
		height: auto;
	}

	img {
		width: auto;
		max-width: 30%;
		height: auto;
	}

}