<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Forgot Password</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
     <link rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
	 <link rel="stylesheet" th:href="@{css/main.css}" />
</head>
<body>
	<div class="page2">
		<div class="container" style="margin-left:40%; margin-top:10%">
			<img style="width:50%; height:50%" th:src="@{/images/seed.gif}" alt="random decor">
		</div>
		<div class="container" style="margin-left:41%">
			<a href="/login" class="btn btn-warning">Under Construction</a>
		</div>
	</div>
</body>
</html>