<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

	<head>
    	<title>Spring Security Example </title>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />	
        <link rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
	 	<link rel="stylesheet" th:href="@{css/design.css}" /></head>
    <body>
    	
    	<div class="centered">
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        
        
        <div class="containerLog">
        	<form th:action="@{/login}" method="post">
        		<div class="fields">
      				<span>
            			<input type="text" name="username" placeholder="Username"/> <br />
            		</span>
            		<br />
     				<span>
            			<input type="password" name="password" placeholder="Password"/> <br />
            		</span>
            	</div>
            	<br>
            	<button type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>
        	</form>
        </div>
        <br>
        <div class="containerLog">
        	<p style="font-size: 10px">Your name is cat</p>
        	<p style="font-size: 10px">The password is password</p>
       </div>
       </div>
    </body>
</html>