<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

	<head>
    	<title>Spring Security Example </title>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />	
    	<link type="text/css" rel="stylesheet" href="/css/design.css" th:href="@{css/design.css}" />
   	</head>
    <body>
        <!--<div th:if="${param.error}">
            Invalid username and password.
        </div>-->
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
                  	
        	<form th:action="@{/login}" method="post">
            	<input type="text" name="username" placeholder="Username"/> <br />
            	<input type="password" name="password" placeholder="Password"/> <br />
            	<button type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>
        	</form>
        	
        	<p>Your name is cat</p> </ br>
        	<p>The password is password</p>
       
    </body>
</html>