<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

	<head>
    	<title>Spring Security Example </title>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />	
        <link rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
	 	<link rel="stylesheet" th:href="@{css/others.css}" />
	</head>
    <body>
    	
    	<div class="logging">
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
         <p class="sign" align="center">Sign in</p>
        	<form class="form1" th:action="@{/login}" method="post">
            			<input class="un" type="text" name="username" placeholder="Username"/> <br />
            			<input class="pass" type="password" name="password" placeholder="Password"/> <br />

            	<button type="submit" class="send">Let me in.</button>
        	
    	    <a class="forgot" th:href="@{/signup}">Sign-up</a>
			<a class="forgot" href="/forgotPassword">Forgot Password</a>
			 </form>
       	</div>
    </body>
</html>