<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>

<title>Covid</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/design.css}" />

<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>
</head>

<body>

<div id="mySidenav" class="sidenav">
 <a href="/other">Home</a>
 <a href="/vitalit">Vital Signs</a>
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/ohje">Doctor's Orders</a>
</div>
<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>

<div class="centered" style="text-align: center">

		<h2>Medications</h2>
		<article class ="texts">
				<p>Paracetamol 500mg q6 for fever</p>
				<p>Antiviral drug</p>
			</br> </br> </br>
		</article>
			</br>
		<!--Medications -->
			<a href="/addMeds" class="btn btn-success">Add Medications</a>
	</div>
</body>
</html>