<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>

<title>Covid</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/design.css}" />

<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>
</head>

<body>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/vitalit">Vital Signs</a>
  <a href="/medic">Medications</a>
  <a href="/ohje">Doctor's Orders</a>
</div>
<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>

<div class="centered" style="text-align: center">
		
		<p>Patient Information:</p>

		<h1 th:text="${patient.firstName} +' '+ ${patient.lastName}"></h1> <br>
			<p style="font-size:20px"> Age: <span th:text="${patient.age}"></span></p>
			<p style="font-size:20px"> Sex: <span th:text="${patient.sex}"></span></p>

			<p style="font-size:20px"> Diagnosis: <span th:text="${patient.diagnosis}"></span></p>
			<p style="font-size:20px"> Mode of Transmission: <span th:text="${patient.modeOfTransmission}"></span></p>
	</div>
</body>
</html>