<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Success</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <link rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
	 <link rel="stylesheet" th:href="@{css/design.css}" /></head>
	 
<body>
<div class="page2">
<img style="width:20%; margin-top: 20%; margin-left: 10%" th:src="@{/images/bear.gif}" alt="Success"><br><br><br>
<img style="width:12%" th:src="@{/images/line.gif}" alt="random decor">
<button type = "button" class="btn btn-dark" onclick="window.history.go(-2); return false;">Back to Patient Profile</button>
<img style="width:12%" th:src="@{/images/line.gif}" alt="random decor">
		
 </div>

</body>
</html>