<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Sign Up</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
     <link rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
	 <link rel="stylesheet" th:href="@{css/main.css}" />	
</head>
<body>
<main class="main">
  <aside class="sidebar">
    <nav class="nav">
      <ul>
        <li><a href="/patientlist">Patient List</a></li>
        <li class="active"><a href="/userlist">User List</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/logout">Sign Out</a></li>
      </ul>
    </nav>
  </aside>
<div class="page2">
		<div class="pageTitle" style="justify-content: center; display: flex; margin-left:30%; margin-top:2%; margin-bottom: 2%">
			<img style="width:12%" th:src="@{/images/line.gif}" alt="random decor">
			<a sec:authorize="hasAuthority('ADMIN')" href="/addUser" class="btn btn-success">Add User/Admin</a>
			<img style="width:12%" th:src="@{/images/line.gif}" alt="random decor">
		</div>

    <table class="table table-striped">
		<tr>
		    <th>Username</th>
		     <th>Role</th>
		     <th>Email</th>
		     <th> </th>
		</tr>  
    	<tr th:each = "userClass : ${userClasses}">
    		<td th:text="${userClass.username}"></td>
    		<td th:text="${userClass.role}"></td>	
    		<td th:text="${userClass.email}"></td>	
 			<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/deleteUser/{userId}(userId=${userClass.userId})}" class="btn btn-xs btn-danger" onClick="return confirm('Are you sure?')">Delete</a></td>    		
    	</tr>
     </table> <br><br>
</div>	    	
</body>
</html>